.shop-container{
               display: grid;
               grid-template-columns: 4fr 1fr;
}
.product-container{
               border-right: 2px solid rgb(245, 243, 243);
               margin-right: 7px;
               margin-left: 60px;
}