.header{
               text-align: center;
}
.header nav {
               background-color: black;
               line-height:60px ;
}
.header nav a{
               text-decoration: none;
               color:white;
               margin-right: 20px;
               font-size: 20px;
               padding: 10px;
}
.search-field{
               background-color: black;
               padding:10px ;
}
.search-area{
               width: 500px;
}
.header nav a:hover{
               background-color:lightgrey;
}

.logo{
               height: 50px;
}